@model List<QRestaurantMain.ViewModels.EmplyeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Empresa</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Empresa</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">Funcionários</h5>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="ContentTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>Nome</td>
                                    <td>Permissões</td>
                                    <td><a asp-action="NewEmployee" class="btn btn-sm btn-success"><i class="fas fa-plus"></i> Novo</a></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.userName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.perms)
                                        </td>
                                        <td>
                                            <a asp-action="EmployeeDetails" asp-route-id="@item.userId" class="btn btn-sm btn-primary"><i class="fas fa-file-alt"></i> Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {

    <!-- DataTables  & Plugins -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script>
        $(function () {
            $('#ContentTable').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "buttons": [
                    'test'
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ linhas por pagina",
                    "zeroRecords": "Nada encontrado",
                    "info": "pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "search": "Pesquisa:",
                    "paginate": {
                        "next": "Próximo",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}