@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = null;
}

<html class="h-100 w-100 m-0">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loures Inova</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css"/>
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- Jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
    <body class="m-0">
        <div style="height: 100vh; background: linear-gradient(to bottom, #39E991 0%, #39E991 50%,#f6f6f6 50%,#f6f6f6 100%); ">
            <div class="row mr-0 ml-0">
                <div class="card col-10 col-sm-8 col-md-6 col-lg-4 mr-auto ml-auto"
                     style="top: 30vh;">
                    <div class="card-body text-center">
                        @if (ViewBag.ConfirmType == 1)
                        {
                            <h5 class="card-title">Bem Vindo ao QRestaurant</h5>
                            <p class="card-text">Faça já login na sua conta.</p>
                        }
                        else
                        {
                            <h5 class="card-title">Email alterado com sucesso</h5>
                            <p class="card-text">Faça já login na sua conta.</p>
                        }
                        <a asp-action="Login" class="btn btn-primary">Entrar <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>        
        <!-- Bootstrap 4 -->
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>

